In [51]:
import pandas as pd
import os

# Creating District dataframe

In [52]:
# Creating dataframe for the General worksheet
general_df = pd.read_csv('General.csv')
general_df.head(10)

/var/folders/vj/ydfp032j4lbd0k8fpbwj1jh00000gn/T/ipykernel_12793/4167178773.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  general_df = pd.read_csv('General.csv')

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %,Five Essential Survey Schools with over 50% Response Rate %,Five Essential Survey Student Response Rate Median,Five Essential Survey Teacher Response Rate Median
0,10010010260000,District,NaN,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
1,10010010260001,School,Seymour High School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,3.0,49.0,3.0,45.0,3.0,91.4,75.0,NaN,NaN,NaN
2,10010010262002,School,Seymour Elementary School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2 3 4 5 6,...,2.0,56.0,3.0,40.0,3.0,97.5,99.9,NaN,NaN,NaN
3,10010020260000,District,NaN,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,10010020260001,School,Liberty High School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,0.0,0.0,0.0,0.0,0.0,0.0,47.1,NaN,NaN,NaN
5,10010020262002,School,Liberty Elementary School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2 3 4 5 6,...,0.0,0.0,0.0,0.0,0.0,0.0,48.7,NaN,NaN,NaN
6,10010030260000,District,NaN,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10010030260001,School,Central High School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10010030261001,School,Central Junior High School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,MIDDLE SCHL,5 6 7 8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10010030262003,School,Central Elementary Grade School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
# checking for na
general_df.isna().sum()

RCDTS                                                             1
Type                                                              0
School Name                                                     866
District                                                          1
City                                                              7
                                                               ...
Five Essential Survey Student Response Rate %                  2510
Five Essential Survey Teacher Response Rate %                  2510
Five Essential Survey Schools with over 50% Response Rate %    4388
Five Essential Survey Student Response Rate Median             4753
Five Essential Survey Teacher Response Rate Median             4753
Length: 390, dtype: int64

In [54]:
# filtering for district
district_general_df = general_df.loc[general_df['Type'] == "District"]

In [55]:
district_general_df.head(10)

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %,Five Essential Survey Schools with over 50% Response Rate %,Five Essential Survey Student Response Rate Median,Five Essential Survey Teacher Response Rate Median
0,10010010260000,District,NaN,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
3,10010020260000,District,NaN,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
6,10010030260000,District,NaN,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10010040260000,District,NaN,CUSD 4,Mendon,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10011720220000,District,NaN,Quincy SD 172,Quincy,Adams,UNIT,LARGE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
26,10050010260000,District,NaN,Brown County CUSD 1,Mount Sterling,Brown,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
30,10090150260000,District,NaN,Beardstown CUSD 15,Beardstown,Cass,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
34,10090640260000,District,NaN,Virginia CUSD 64,Virginia,Cass,UNIT,SMALL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
37,10092620260000,District,NaN,A-C Central CUSD 262,Ashland,Cass,UNIT,SMALL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,10690010260000,District,NaN,Franklin CUSD 1,Franklin,Morgan,UNIT,SMALL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
district_general_df.isna().sum()

RCDTS                                                            0
Type                                                             0
School Name                                                    865
District                                                         0
City                                                             6
                                                              ...
Five Essential Survey Student Response Rate %                  865
Five Essential Survey Teacher Response Rate %                  865
Five Essential Survey Schools with over 50% Response Rate %    500
Five Essential Survey Student Response Rate Median             865
Five Essential Survey Teacher Response Rate Median             865
Length: 390, dtype: int64

In [57]:
# dropping na with anything over 750
district_general_df = district_general_df.dropna(thresh=750, axis=1)

In [58]:
list(district_general_df.columns)

['RCDTS',
 'Type',
 'District',
 'City',
 'County',
 'District Type',
 'District Size',
 'Student Enrollment - Total',
 'Student Enrollment - White %',
 'Student Enrollment - IEP %',
 'Student Enrollment - Low Income %',
 'Total Number of School Days',
 'Student Attendance Rate',
 'Student Attendance Rate - Male',
 'Student Attendance Rate - Female',
 'Student Attendance Rate - White',
 'Student Mobility Rate',
 'Student Mobility Rate - Male',
 'Student Mobility Rate - Female',
 'Student Mobility Rate - White',
 'Student Mobility Rate - IEP',
 'Student Mobility Rate - Low Income',
 'Chronically Truant Students',
 'Student Chronic Truancy Rate',
 'Avg Class Size - Kindergarten',
 'Avg Class Size - 1',
 'Avg Class Size - 2',
 'Avg Class Size - 3',
 'Avg Class Size - 4',
 'Avg Class Size - 5',
 'Avg Class Size - 6',
 'Avg Class Size - 7',
 'Avg Class Size - 8',
 'Avg Class Size – All Grades',
 'Min per Day Math Grade 3',
 'Min per Day Math Grade 6',
 'Min per Day Math Grade 8',
 'Min per Day Scieince Grade 3',
 'Min per Day Scieince Grade 6',
 'Min per Day Scieince Grade 8',
 'Min per Day English Grade 3',
 'Min per Day English Grade 6',
 'Min per Day English Grade 8',
 'Min per Day social sciences Grade 3',
 'Min per Day social sciences Grade 6',
 'Min per Day social sciences Grade 8',
 'Avg Number of days of Physical Education Per Week Per Student',
 '% of Teachers - White',
 '% of Teachers - Male',
 '% of Teachers - Female',
 'Total Teacher FTE',
 'Avg Teaching Exp',
 'Bachelor Degree',
 'Masters Degree',
 'Pupil Teacher Ratio - Elementary',
 'Pupil Certified Staff Ratio',
 'Pupil Admin Ratio',
 'Teacher Avg Salary',
 'Admin Avg Salary',
 'Teacher Retention Rate',
 'Principal Turnover within 6 Years',
 'Teacher Attendace Rate',
 'Teacher Evaluation Rate',
 'Chronic Absenteeism',
 'Chronic Absenteeism - White',
 'Chronic Absenteeism - IEP',
 'Chronic Absenteeism - Low Income']

In [59]:
district_general_df.head()

,RCDTS,Type,District,City,County,District Type,District Size,Student Enrollment - Total,Student Enrollment - White %,Student Enrollment - IEP %,...,Teacher Avg Salary,Admin Avg Salary,Teacher Retention Rate,Principal Turnover within 6 Years,Teacher Attendace Rate,Teacher Evaluation Rate,Chronic Absenteeism,Chronic Absenteeism - White,Chronic Absenteeism - IEP,Chronic Absenteeism - Low Income
0,10010010260000,District,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,559.0,95.2,17.9,...,36085.63,72141.72,92.9,3.0,63.8,96.2,7.7,7.3,11.3,12.4
3,10010020260000,District,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,602.0,97.7,15.3,...,41534.22,83605.24,91.5,2.0,57.7,90.3,1.6,1.7,2.9,5.0
6,10010030260000,District,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,874.0,97.1,18.6,...,47686.51,75068.50,81.3,1.0,81.0,96.8,13.0,9.0,25.3,19.6
11,10010040260000,District,CUSD 4,Mendon,Adams,UNIT,MEDIUM,674.0,96.4,17.2,...,40254.81,83692.00,89.7,1.0,77.6,100.0,12.5,12.4,16.2,17.7
15,10011720220000,District,Quincy SD 172,Quincy,Adams,UNIT,LARGE,6469.0,78.6,18.7,...,45089.41,82764.57,73.6,2.0,78.7,99.6,19.0,18.7,25.5,26.6

In [60]:
district_filtered_df = district_general_df[["RCDTS", 
    "Type",  
    "District", 
    "City", 
    "County",
    "District Type", 
    "District Size", 
    "Student Enrollment - Total",
    "Student Enrollment - Low Income %",
    "Avg Class Size – All Grades",
    "Avg Teaching Exp",
    "Bachelor Degree",
    "Masters Degree",
    "Teacher Retention Rate",
    "Teacher Avg Salary",
    "Admin Avg Salary"]]
district_filtered_df.head(20)

,RCDTS,Type,District,City,County,District Type,District Size,Student Enrollment - Total,Student Enrollment - Low Income %,Avg Class Size – All Grades,Avg Teaching Exp,Bachelor Degree,Masters Degree,Teacher Retention Rate,Teacher Avg Salary,Admin Avg Salary
0,10010010260000,District,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,559.0,48.8,17.0,11.5,56.3,43.8,92.9,36085.63,72141.72
3,10010020260000,District,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,602.0,24.9,20.0,13.5,41.9,58.1,91.5,41534.22,83605.24
6,10010030260000,District,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,874.0,46.7,19.0,12.5,42.9,57.1,81.3,47686.51,75068.50
11,10010040260000,District,CUSD 4,Mendon,Adams,UNIT,MEDIUM,674.0,20.2,18.0,14.1,61.3,38.7,89.7,40254.81,83692.00
15,10011720220000,District,Quincy SD 172,Quincy,Adams,UNIT,LARGE,6469.0,60.7,18.0,12.0,56.9,42.6,73.6,45089.41,82764.57
26,10050010260000,District,Brown County CUSD 1,Mount Sterling,Brown,UNIT,MEDIUM,734.0,84.5,16.0,12.0,69.7,30.3,73.8,41230.67,85725.00
30,10090150260000,District,Beardstown CUSD 15,Beardstown,Cass,UNIT,MEDIUM,1582.0,70.7,16.0,11.6,63.0,36.0,75.5,43408.09,81832.66
34,10090640260000,District,Virginia CUSD 64,Virginia,Cass,UNIT,SMALL,301.0,53.5,14.0,11.2,57.2,42.8,72.4,45024.46,93545.00
37,10092620260000,District,A-C Central CUSD 262,Ashland,Cass,UNIT,SMALL,440.0,49.8,14.0,12.2,88.4,11.6,75.3,37318.09,92281.53
41,10690010260000,District,Franklin CUSD 1,Franklin,Morgan,UNIT,SMALL,305.0,30.5,16.0,15.3,62.2,37.8,90.9,41429.91,88952.22
45,10690060260000,District,Waverly CUSD 6,Waverly,Morgan,UNIT,SMALL,375.0,34.1,15.0,13.5,78.7,21.3,77.4,42622.41,85320.23
48,10690110260000,District,Meredosia-Chambersburg CUSD 11,Meredosia,Morgan,UNIT,SMALL,201.0,65.2,10.0,13.8,71.1,24.4,71.7,40834.29,89731.31
52,10690270260000,District,Triopia CUSD 27,Concord,Morgan,UNIT,SMALL,383.0,35.0,16.0,14.5,73.0,27.0,87.1,39891.90,81241.53
55,10691170220000,District,Jacksonville SD 117,Jacksonville,Morgan,UNIT,LARGE,3372.0,55.0,19.0,12.6,67.2,31.4,83.0,45656.01,88654.71
66,10750030260000,District,Pleasant Hill CUSD 3,Pleasant Hill,Pike,UNIT,SMALL,315.0,52.1,15.0,12.5,65.3,34.7,86.5,41951.27,83314.43
69,10750040260000,District,Griggsville-Perry CUSD 4,Griggsville,Pike,UNIT,SMALL,382.0,58.1,12.0,13.8,70.5,29.5,71.3,39176.46,78716.67
73,10750100260000,District,Pikeland CUSD 10,Pittsfield,Pike,UNIT,MEDIUM,1265.0,47.8,21.0,13.4,67.0,31.8,85.3,40363.74,73596.00
77,10750120260000,District,Western CUSD 12,Barry,Pike,UNIT,MEDIUM,573.0,59.7,19.0,12.8,53.6,46.4,76.4,42303.36,78043.40
81,10860010260000,District,Winchester CUSD 1,Winchester,Scott,UNIT,MEDIUM,614.0,47.2,15.0,13.2,72.5,25.5,82.7,40610.16,71511.91
84,10860020260000,District,Scott-Morgan CUSD 2,Bluffs,Scott,UNIT,SMALL,226.0,50.9,15.0,13.0,58.8,41.2,79.3,38743.44,95103.29

In [61]:
district_filtered_df.count()

RCDTS                                865
Type                                 865
District                             865
City                                 859
County                               859
District Type                        858
District Size                        858
Student Enrollment - Total           865
Student Enrollment - Low Income %    858
Avg Class Size – All Grades          860
Avg Teaching Exp                     862
Bachelor Degree                      862
Masters Degree                       862
Teacher Retention Rate               860
Teacher Avg Salary                   861
Admin Avg Salary                     861
dtype: int64

# Creating High School Dataframe from general csv

In [62]:
general_df.head()

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %,Five Essential Survey Schools with over 50% Response Rate %,Five Essential Survey Student Response Rate Median,Five Essential Survey Teacher Response Rate Median
0,10010010260000,District,NaN,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
1,10010010260001,School,Seymour High School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,3.0,49.0,3.0,45.0,3.0,91.4,75.0,NaN,NaN,NaN
2,10010010262002,School,Seymour Elementary School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2 3 4 5 6,...,2.0,56.0,3.0,40.0,3.0,97.5,99.9,NaN,NaN,NaN
3,10010020260000,District,NaN,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,10010020260001,School,Liberty High School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,0.0,0.0,0.0,0.0,0.0,0.0,47.1,NaN,NaN,NaN

In [63]:
# filtering for district
high_school_general_df = general_df.loc[general_df['School Type'] == "HIGH SCHOOL"]
high_school_general_df.head()

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %,Five Essential Survey Schools with over 50% Response Rate %,Five Essential Survey Student Response Rate Median,Five Essential Survey Teacher Response Rate Median
1,10010010260001,School,Seymour High School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,3.0,49.0,3.0,45.0,3.0,91.4,75.0,NaN,NaN,NaN
4,10010020260001,School,Liberty High School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,0.0,0.0,0.0,0.0,0.0,0.0,47.1,NaN,NaN,NaN
7,10010030260001,School,Central High School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10010040260001,School,Unity High School,CUSD 4,Mendon,Adams,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10011720220003,School,Quincy Sr High School,Quincy SD 172,Quincy,Adams,UNIT,LARGE,HIGH SCHOOL,9 10 11 12,...,3.0,43.0,3.0,51.0,3.0,76.0,83.3,NaN,NaN,NaN

In [64]:
high_school_general_df.isna().sum()

RCDTS                                                            0
Type                                                             0
School Name                                                      0
District                                                         0
City                                                             0
                                                              ...
Five Essential Survey Student Response Rate %                  319
Five Essential Survey Teacher Response Rate %                  319
Five Essential Survey Schools with over 50% Response Rate %    653
Five Essential Survey Student Response Rate Median             653
Five Essential Survey Teacher Response Rate Median             653
Length: 390, dtype: int64

In [65]:
# dropping na with anything over 750
high_school_general_df = high_school_general_df.dropna(thresh=100, axis=1)
high_school_general_df.head(20)

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Collaborative Teachers,Five Essential Survey Collaborative Teachers Level,Five Essential Survey Involved Families,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %
1,10010010260001,School,Seymour High School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,46.0,3.0,55.0,3.0,49.0,3.0,45.0,3.0,91.4,75.0
4,10010020260001,School,Liberty High School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.1
7,10010030260001,School,Central High School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10010040260001,School,Unity High School,CUSD 4,Mendon,Adams,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10011720220003,School,Quincy Sr High School,Quincy SD 172,Quincy,Adams,UNIT,LARGE,HIGH SCHOOL,9 10 11 12,...,50.0,3.0,57.0,3.0,43.0,3.0,51.0,3.0,76.0,83.3
27,10050010260001,School,Brown County High School,Brown County CUSD 1,Mount Sterling,Brown,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,61.0,4.0,43.0,3.0,65.0,4.0,45.0,3.0,80.3,85.7
31,10090150260007,School,Beardstown Jr/Sr High School,Beardstown CUSD 15,Beardstown,Cass,UNIT,MEDIUM,HIGH SCHOOL,5 6 7 8 9 10 11 12,...,21.0,2.0,25.0,2.0,42.0,3.0,61.0,4.0,76.9,59.7
35,10090640260003,School,Virginia Jr/ Sr High School,Virginia CUSD 64,Virginia,Cass,UNIT,SMALL,HIGH SCHOOL,6 7 8 9 10 11 12,...,44.0,3.0,40.0,3.0,58.0,3.0,46.0,3.0,97.1,93.8
38,10092620260002,School,A-C Central High School,A-C Central CUSD 262,Ashland,Cass,UNIT,SMALL,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,10690010260001,School,Franklin Jr/Sr High School,Franklin CUSD 1,Franklin,Morgan,UNIT,SMALL,HIGH SCHOOL,3 4 5 6 7 8 9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,10690060260001,School,Waverly Junior/Senior High School,Waverly CUSD 6,Waverly,Morgan,UNIT,SMALL,HIGH SCHOOL,7 8 9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,10690110260001,School,Meredosia-Chambersburg High Sch,Meredosia-Chambersburg CUSD 11,Meredosia,Morgan,UNIT,SMALL,HIGH SCHOOL,9 10 11 12,...,0.0,0.0,0.0,0.0,40.0,3.0,46.0,3.0,63.5,70.0
53,10690270260001,School,Triopia Jr-Sr High School,Triopia CUSD 27,Concord,Morgan,UNIT,SMALL,HIGH SCHOOL,7 8 9 10 11 12,...,14.0,1.0,32.0,2.0,59.0,3.0,51.0,3.0,96.9,99.9
56,10691170220014,School,Jacksonville High School,Jacksonville SD 117,Jacksonville,Morgan,UNIT,LARGE,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,10750030260002,School,Pleasant Hill High School,Pleasant Hill CUSD 3,Pleasant Hill,Pike,UNIT,SMALL,HIGH SCHOOL,9 10 11 12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.7
70,10750040260002,School,Griggsville-Perry High School,Griggsville-Perry CUSD 4,Griggsville,Pike,UNIT,SMALL,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,10750100260009,School,Pittsfield High School,Pikeland CUSD 10,Pittsfield,Pike,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,10750120260001,School,Western High School,Western CUSD 12,Barry,Pike,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,57.0,3.0,55.0,3.0,52.0,3.0,63.0,4.0,93.8,99.9
82,10860010260001,School,Winchester High School,Winchester CUSD 1,Winchester,Scott,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,10860020260001,School,Bluffs High School,Scott-Morgan CUSD 2,Bluffs,Scott,UNIT,SMALL,HIGH SCHOOL,9 10 11 12,...,0.0,0.0,0.0,0.0,51.0,3.0,68.0,4.0,89.1,99.9

In [66]:
list(high_school_general_df.columns)

['RCDTS',
 'Type',
 'School Name',
 'District',
 'City',
 'County',
 'District Type',
 'District Size',
 'School Type',
 'Grades Served',
 'Summative Designation',
 'State Senate District',
 'State Representative District',
 'Student Enrollment - Total',
 'Student Enrollment - White %',
 'Student Enrollment - Black or African American %',
 'Student Enrollment - Hispanic or Latino %',
 'Student Enrollment - Asian %',
 'Student Enrollment - Two or More Races %',
 'Student Enrollment - EL %',
 'Student Enrollment - IEP %',
 'Student Enrollment - Low Income %',
 'Student Enrollment - Homeless %',
 'Total Number of School Days',
 'Student Attendance Rate',
 'Student Attendance Rate - Male',
 'Student Attendance Rate - Female',
 'Student Attendance Rate - White',
 'Student Attendance Rate - Black or African American',
 'Student Attendance Rate - Hispanic or Latino',
 'Student Attendance Rate - Asian',
 'Student Attendance Rate - Two or More Races',
 'Student Attendance Rate - EL',
 'Student Mobility Rate',
 'Student Mobility Rate - Male',
 'Student Mobility Rate - Female',
 'Student Mobility Rate - White',
 'Student Mobility Rate - Black or African American',
 'Student Mobility Rate - Hispanic or Latino',
 'Student Mobility Rate - Asian',
 'Student Mobility Rate - Two or More Races',
 'Student Mobility Rate - EL',
 'Student Mobility Rate - IEP',
 'Student Mobility Rate - Low Income',
 'Chronically Truant Students',
 'Student Chronic Truancy Rate',
 'High School Dropout Rate - Total',
 'High School Dropout Rate - Male',
 'High School Dropout Rate - Female',
 'High School Dropout Rate - White',
 'High School Dropout Rate - Black or African American',
 'High School Dropout Rate - Hispanic or Latino',
 'High School Dropout Rate - Asian',
 'High School Dropout Rate - Two or More Races',
 'High School Dropout Rate - EL',
 'High School Dropout Rate - IEP',
 'High School Dropout Rate - Low Income',
 'High School 4-Year Graduation Rate - Total',
 'High School 4-Year Graduation Rate - Male',
 'High School 4-Year Graduation Rate - Female',
 'High School 4-Year Graduation Rate - White',
 'High School 4-Year Graduation Rate - Black or African American',
 'High School 4-Year Graduation Rate - Hispanic or Latino',
 'High School 4-Year Graduation Rate - Asian',
 'High School 4-Year Graduation Rate - Two or More Races',
 'High School 4-Year Graduation Rate - EL',
 'High School 4-Year Graduation Rate - Children with Disabilities',
 'High School 4-Year Graduation Rate - Low Income',
 'High School 5-Year Graduation Rate - Total',
 'High School 5-Year Graduation Rate - Male',
 'High School 5-Year Graduation Rate - Female',
 'High School 5-Year Graduation Rate - White',
 'High School 5-Year Graduation Rate - Black or African American',
 'High School 5-Year Graduation Rate - Hispanic or Latino',
 'High School 5-Year Graduation Rate - Asian',
 'High School 5-Year Graduation Rate - Two or More Races',
 'High School 5-Year Graduation Rate - EL',
 'High School 5-Year Graduation Rate - Children with Disabilities',
 'High School 5-Year Graduation Rate - Low Income',
 'High School 6-Year Graduation Rate - Total',
 'High School 6-Year Graduation Rate - Male',
 'High School 6-Year Graduation Rate - Female',
 'High School 6-Year Graduation Rate - White',
 'High School 6-Year Graduation Rate - Black or African American',
 'High School 6-Year Graduation Rate - Hispanic or Latino',
 'High School 6-Year Graduation Rate - Asian',
 'High School 6-Year Graduation Rate - Two or More Races',
 'High School 6-Year Graduation Rate - EL',
 'High School 6-Year Graduation Rate - Children with Disabilities',
 'High School 6-Year Graduation Rate - Low Income',
 'Avg Class Size - High School',
 'Avg Class Size – All Grades',
 'Avg Number of days of Physical Education Per Week Per Student',
 'Teacher Retention Rate',
 'Principal Turnover within 6 Years',
 '% Graduates enrolled in Post Secondary Institution  within 16 months',
 '% Graduates enrolled in Post Secondary Institution  within 12 months',
 '# of CTE Enrollment',
 '# of 10 graders who took advanced Courses',
 '# of 11 graders who took advanced Courses',
 '# of 12 graders who took advanced Courses',
 'Community College Remediation %',
 'Community College Remediation Reading %',
 'Community College Remediation Math %',
 'Community College Remediation Communication',
 '9th Grade on Track',
 '9th Grade on Track - White',
 '9th Grade on Track - Black or African American',
 '9th Grade on Track - Hispanic or Latino',
 '9th Grade on Track - Asian',
 '9th Grade on Track - Two or More Races',
 '9th Grade on Track - IEP',
 '9th Grade on Track - EL',
 '9th Grade on Track - Low Income',
 'Chronic Absenteeism',
 'Chronic Absenteeism - White',
 'Chronic Absenteeism - Black or African American',
 'Chronic Absenteeism - Hispanic or Latino',
 'Chronic Absenteeism - Asian',
 'Chronic Absenteeism - Two or More Races',
 'Chronic Absenteeism - IEP',
 'Chronic Absenteeism - EL',
 'Chronic Absenteeism - Low Income',
 'Number of Students who took AP classes Grade 9 Total',
 'Number Non-EL of Students who took AP classes Grade 9 Total',
 'Number Non-IEP of Students who took AP classes Grade 9 Total',
 'Number Non-Low Income of Students who took AP classes Grade 9 Total',
 'Number of Students who took AP classes Grade 10 Total',
 'Number White of Students who took AP classes Grade 10 Total',
 'Number Hispanic or Latino of Students who took AP classes Grade 10 Total',
 'Number Non-EL of Students who took AP classes Grade 10 Total',
 'Number Non-IEP of Students who took AP classes Grade 10 Total',
 'Number Low Income of Students who took AP classes Grade 10 Total',
 'Number Non-Low Income of Students who took AP classes Grade 10 Total',
 'Number of Students who took AP classes Grade 11 Total',
 'Number White of Students who took AP classes Grade 11 Total',
 'Number Black or African American of Students who took AP classes Grade 11 Total',
 'Number Hispanic or Latino of Students who took AP classes Grade 11 Total',
 'Number Non-EL of Students who took AP classes Grade 11 Total',
 'Number Non-IEP of Students who took AP classes Grade 11 Total',
 'Number Low Income of Students who took AP classes Grade 11 Total',
 'Number Non-Low Income of Students who took AP classes Grade 11 Total',
 'Number of Students who took AP classes Grade 12 Total',
 'Number White of Students who took AP classes Grade 12 Total',
 'Number Black or African American of Students who took AP classes Grade 12 Total',
 'Number Hispanic or Latino of Students who took AP classes Grade 12 Total',
 'Number Asian of Students who took AP classes Grade 12 Total',
 'Number Non-EL of Students who took AP classes Grade 12 Total',
 'Number Non-IEP of Students who took AP classes Grade 12 Total',
 'Number Low Income of Students who took AP classes Grade 12 Total',
 'Number Non-Low Income of Students who took AP classes Grade 12 Total',
 'Number of Students who took Dual Credit classes Grade 10 Total',
 'Number Non-EL of Students who took Dual Credit classes Grade 10 Total',
 'Number Non-IEP of Students who took Dual Credit classes Grade 10 Total',
 'Number of Students who took Dual Credit classes Grade 11 Total',
 'Number White of Students who took Dual Credit classes Grade 11 Total',
 'Number Non-EL of Students who took Dual Credit classes Grade 11 Total',
 'Number Non-IEP of Students who took Dual Credit classes Grade 11 Total',
 'Number Low Income of Students who took Dual Credit classes Grade 11 Total',
 'Number Non-Low Income of Students who took Dual Credit classes Grade 11 Total',
 'Number of Students who took Dual Credit classes Grade 12 Total',
 'Number White of Students who took Dual Credit classes Grade 12 Total',
 'Number Hispanic or Latino of Students who took Dual Credit classes Grade 12 Total',
 'Number Non-EL of Students who took Dual Credit classes Grade 12 Total',
 'Number Non-IEP of Students who took Dual Credit classes Grade 12 Total',
 'Number Low Income of Students who took Dual Credit classes Grade 12 Total',
 'Number Non-Low Income of Students who took Dual Credit classes Grade 12 Total',
 'Number of students who took AP Exams Grade 10',
 'Number of students who passed AP Exams Grade 10',
 'Number of students who took one ore more AP Exams Grade 10',
 'Number of students who passed one ore more AP Exams Grade 10',
 'Number of students who took AP Exams Grade 11',
 'Number of students who passed AP Exams Grade 11',
 'Number of students who took one ore more AP Exams Grade 11',
 'Number of students who passed one ore more AP Exams Grade 11',
 'Number of students who took AP Exams Grade 12',
 'Number of students who passed AP Exams Grade 12',
 'Number of students who took one ore more AP Exams Grade 12',
 'Number of students who passed one ore more AP Exams Grade 12',
 'Five Essential Survey Effective Leaders',
 'Five Essential Survey Leaders Level',
 'Five Essential Survey Collaborative Teachers',
 'Five Essential Survey Collaborative Teachers Level',
 'Five Essential Survey Involved Families',
 'Five Essential Survey Involved Families Level',
 'Five Essential Survey Supportive Environment',
 'Five Essential Survey Supportive Environment Level',
 'Five Essential Survey Ambitious Instruction',
 'Five Essential Survey Ambitious Instruction.1',
 'Five Essential Survey Student Response Rate %',
 'Five Essential Survey Teacher Response Rate %']

In [67]:
high_school_general_df.isna().sum()

RCDTS                                                   0
Type                                                    0
School Name                                             0
District                                                0
City                                                    0
                                                     ...
Five Essential Survey Supportive Environment Level    319
Five Essential Survey Ambitious Instruction           319
Five Essential Survey Ambitious Instruction.1         319
Five Essential Survey Student Response Rate %         319
Five Essential Survey Teacher Response Rate %         319
Length: 191, dtype: int64

In [69]:
high_school_filtered_df = high_school_general_df[["RCDTS", 
    "Type",  
    "District", 
    "School Type",
    "City", 
    "County",
    "District Type", 
    "District Size", 
    "Student Enrollment - Total",
    "Student Enrollment - Low Income %",
    "Avg Class Size – All Grades",
    "Teacher Retention Rate",]]
high_school_filtered_df.head(20)

,RCDTS,Type,District,School Type,City,County,District Type,District Size,Student Enrollment - Total,Student Enrollment - Low Income %,Avg Class Size – All Grades,Teacher Retention Rate
1,10010010260001,School,Payson CUSD 1,HIGH SCHOOL,Payson,Adams,UNIT,MEDIUM,246.0,43.9,16.0,90.6
4,10010020260001,School,Liberty CUSD 2,HIGH SCHOOL,Liberty,Adams,UNIT,MEDIUM,281.0,22.4,20.0,84.8
7,10010030260001,School,Central CUSD 3,HIGH SCHOOL,Camp Point,Adams,UNIT,MEDIUM,245.0,42.0,15.0,83.7
12,10010040260001,School,CUSD 4,HIGH SCHOOL,Mendon,Adams,UNIT,MEDIUM,209.0,27.3,11.0,83.7
16,10011720220003,School,Quincy SD 172,HIGH SCHOOL,Quincy,Adams,UNIT,LARGE,1753.0,50.3,20.0,81.9
27,10050010260001,School,Brown County CUSD 1,HIGH SCHOOL,Mount Sterling,Brown,UNIT,MEDIUM,195.0,42.6,12.0,70.0
31,10090150260007,School,Beardstown CUSD 15,HIGH SCHOOL,Beardstown,Cass,UNIT,MEDIUM,891.0,72.4,15.0,77.4
35,10090640260003,School,Virginia CUSD 64,HIGH SCHOOL,Virginia,Cass,UNIT,SMALL,135.0,48.1,11.0,82.6
38,10092620260002,School,A-C Central CUSD 262,HIGH SCHOOL,Ashland,Cass,UNIT,SMALL,141.0,46.8,12.0,73.9
42,10690010260001,School,Franklin CUSD 1,HIGH SCHOOL,Franklin,Morgan,UNIT,SMALL,147.0,36.7,13.0,89.8
46,10690060260001,School,Waverly CUSD 6,HIGH SCHOOL,Waverly,Morgan,UNIT,SMALL,172.0,28.5,15.0,76.7
49,10690110260001,School,Meredosia-Chambersburg CUSD 11,HIGH SCHOOL,Meredosia,Morgan,UNIT,SMALL,53.0,56.6,6.0,76.5
53,10690270260001,School,Triopia CUSD 27,HIGH SCHOOL,Concord,Morgan,UNIT,SMALL,164.0,36.6,15.0,84.4
56,10691170220014,School,Jacksonville SD 117,HIGH SCHOOL,Jacksonville,Morgan,UNIT,LARGE,986.0,47.4,17.0,85.9
67,10750030260002,School,Pleasant Hill CUSD 3,HIGH SCHOOL,Pleasant Hill,Pike,UNIT,SMALL,77.0,49.4,11.0,87.5
70,10750040260002,School,Griggsville-Perry CUSD 4,HIGH SCHOOL,Griggsville,Pike,UNIT,SMALL,101.0,65.3,10.0,67.7
74,10750100260009,School,Pikeland CUSD 10,HIGH SCHOOL,Pittsfield,Pike,UNIT,MEDIUM,336.0,40.2,15.0,88.3
78,10750120260001,School,Western CUSD 12,HIGH SCHOOL,Barry,Pike,UNIT,MEDIUM,146.0,55.5,19.0,80.0
82,10860010260001,School,Winchester CUSD 1,HIGH SCHOOL,Winchester,Scott,UNIT,MEDIUM,178.0,40.4,10.0,81.0
85,10860020260001,School,Scott-Morgan CUSD 2,HIGH SCHOOL,Bluffs,Scott,UNIT,SMALL,64.0,53.1,11.0,68.2

In [70]:
high_school_filtered_df.count()

RCDTS                                653
Type                                 653
District                             653
School Type                          653
City                                 653
County                               653
District Type                        644
District Size                        644
Student Enrollment - Total           653
Student Enrollment - Low Income %    652
Avg Class Size – All Grades          643
Teacher Retention Rate               645
dtype: int64

In [71]:
high_school_filtered_df.dropna()

,RCDTS,Type,District,School Type,City,County,District Type,District Size,Student Enrollment - Total,Student Enrollment - Low Income %,Avg Class Size – All Grades,Teacher Retention Rate
1,10010010260001,School,Payson CUSD 1,HIGH SCHOOL,Payson,Adams,UNIT,MEDIUM,246.0,43.9,16.0,90.6
4,10010020260001,School,Liberty CUSD 2,HIGH SCHOOL,Liberty,Adams,UNIT,MEDIUM,281.0,22.4,20.0,84.8
7,10010030260001,School,Central CUSD 3,HIGH SCHOOL,Camp Point,Adams,UNIT,MEDIUM,245.0,42.0,15.0,83.7
12,10010040260001,School,CUSD 4,HIGH SCHOOL,Mendon,Adams,UNIT,MEDIUM,209.0,27.3,11.0,83.7
16,10011720220003,School,Quincy SD 172,HIGH SCHOOL,Quincy,Adams,UNIT,LARGE,1753.0,50.3,20.0,81.9
...,...,...,...,...,...,...,...,...,...,...,...,...
4718,56099207U260001,School,Peotone CUSD 207U,HIGH SCHOOL,Peotone,Will,UNIT,MEDIUM,493.0,19.3,16.0,75.5
4724,56099209U260001,School,Wilmington CUSD 209U,HIGH SCHOOL,Wilmington,Will,UNIT,MEDIUM,465.0,36.6,19.0,89.4
4729,56099255U260001,School,Reed Custer CUSD 255U,HIGH SCHOOL,Braidwood,Will,UNIT,MEDIUM,477.0,32.7,22.0,83.8
4733,56099365U260007,School,Valley View CUSD 365U,HIGH SCHOOL,Bolingbrook,Will,UNIT,LARGE,3550.0,59.4,19.0,90.0
4734,56099365U260008,School,Valley View CUSD 365U,HIGH SCHOOL,Romeoville,Will,UNIT,LARGE,1920.0,59.1,20.0,91.3

In [72]:
high_school_filtered_df.count()

RCDTS                                653
Type                                 653
District                             653
School Type                          653
City                                 653
County                               653
District Type                        644
District Size                        644
Student Enrollment - Total           653
Student Enrollment - Low Income %    652
Avg Class Size – All Grades          643
Teacher Retention Rate               645
dtype: int64