In [3]:
import pandas as pd
import os

In [9]:
# Creating dataframe for the General worksheet
general_df = pd.read_csv('General.csv')
general_df.head(10)

/var/folders/vj/ydfp032j4lbd0k8fpbwj1jh00000gn/T/ipykernel_12793/4167178773.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  general_df = pd.read_csv('General.csv')

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %,Five Essential Survey Schools with over 50% Response Rate %,Five Essential Survey Student Response Rate Median,Five Essential Survey Teacher Response Rate Median
0,10010010260000,District,NaN,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
1,10010010260001,School,Seymour High School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,3.0,49.0,3.0,45.0,3.0,91.4,75.0,NaN,NaN,NaN
2,10010010262002,School,Seymour Elementary School,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2 3 4 5 6,...,2.0,56.0,3.0,40.0,3.0,97.5,99.9,NaN,NaN,NaN
3,10010020260000,District,NaN,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,10010020260001,School,Liberty High School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,HIGH SCHOOL,7 8 9 10 11 12,...,0.0,0.0,0.0,0.0,0.0,0.0,47.1,NaN,NaN,NaN
5,10010020262002,School,Liberty Elementary School,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2 3 4 5 6,...,0.0,0.0,0.0,0.0,0.0,0.0,48.7,NaN,NaN,NaN
6,10010030260000,District,NaN,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10010030260001,School,Central High School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,HIGH SCHOOL,9 10 11 12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10010030261001,School,Central Junior High School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,MIDDLE SCHL,5 6 7 8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10010030262003,School,Central Elementary Grade School,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,ELEMENTARY,PK K 1 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# checking fo na
general_df.isna().sum()

RCDTS                                                             1
Type                                                              0
School Name                                                     866
District                                                          1
City                                                              7
                                                               ...
Five Essential Survey Student Response Rate %                  2510
Five Essential Survey Teacher Response Rate %                  2510
Five Essential Survey Schools with over 50% Response Rate %    4388
Five Essential Survey Student Response Rate Median             4753
Five Essential Survey Teacher Response Rate Median             4753
Length: 390, dtype: int64

In [6]:
# filtering for district
general_district_df = general_df.loc[general_df['Type'] == "District"]

In [8]:
general_district_df.head(10)

,RCDTS,Type,School Name,District,City,County,District Type,District Size,School Type,Grades Served,...,Five Essential Survey Involved Families Level,Five Essential Survey Supportive Environment,Five Essential Survey Supportive Environment Level,Five Essential Survey Ambitious Instruction,Five Essential Survey Ambitious Instruction.1,Five Essential Survey Student Response Rate %,Five Essential Survey Teacher Response Rate %,Five Essential Survey Schools with over 50% Response Rate %,Five Essential Survey Student Response Rate Median,Five Essential Survey Teacher Response Rate Median
0,10010010260000,District,NaN,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
3,10010020260000,District,NaN,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
6,10010030260000,District,NaN,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10010040260000,District,NaN,CUSD 4,Mendon,Adams,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10011720220000,District,NaN,Quincy SD 172,Quincy,Adams,UNIT,LARGE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
26,10050010260000,District,NaN,Brown County CUSD 1,Mount Sterling,Brown,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
30,10090150260000,District,NaN,Beardstown CUSD 15,Beardstown,Cass,UNIT,MEDIUM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
34,10090640260000,District,NaN,Virginia CUSD 64,Virginia,Cass,UNIT,SMALL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
37,10092620260000,District,NaN,A-C Central CUSD 262,Ashland,Cass,UNIT,SMALL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,10690010260000,District,NaN,Franklin CUSD 1,Franklin,Morgan,UNIT,SMALL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
general_district_df.isna().sum()

RCDTS                                                            0
Type                                                             0
School Name                                                    865
District                                                         0
City                                                             6
                                                              ...
Five Essential Survey Student Response Rate %                  865
Five Essential Survey Teacher Response Rate %                  865
Five Essential Survey Schools with over 50% Response Rate %    500
Five Essential Survey Student Response Rate Median             865
Five Essential Survey Teacher Response Rate Median             865
Length: 390, dtype: int64

In [11]:
# dropping na with anything over 750
general_district_df = general_district_df.dropna(thresh=750, axis=1)

In [12]:
list(general_district_df.columns)

['RCDTS',
 'Type',
 'District',
 'City',
 'County',
 'District Type',
 'District Size',
 'Student Enrollment - Total',
 'Student Enrollment - White %',
 'Student Enrollment - IEP %',
 'Student Enrollment - Low Income %',
 'Total Number of School Days',
 'Student Attendance Rate',
 'Student Attendance Rate - Male',
 'Student Attendance Rate - Female',
 'Student Attendance Rate - White',
 'Student Mobility Rate',
 'Student Mobility Rate - Male',
 'Student Mobility Rate - Female',
 'Student Mobility Rate - White',
 'Student Mobility Rate - IEP',
 'Student Mobility Rate - Low Income',
 'Chronically Truant Students',
 'Student Chronic Truancy Rate',
 'Avg Class Size - Kindergarten',
 'Avg Class Size - 1',
 'Avg Class Size - 2',
 'Avg Class Size - 3',
 'Avg Class Size - 4',
 'Avg Class Size - 5',
 'Avg Class Size - 6',
 'Avg Class Size - 7',
 'Avg Class Size - 8',
 'Avg Class Size – All Grades',
 'Min per Day Math Grade 3',
 'Min per Day Math Grade 6',
 'Min per Day Math Grade 8',
 'Min per Day Scieince Grade 3',
 'Min per Day Scieince Grade 6',
 'Min per Day Scieince Grade 8',
 'Min per Day English Grade 3',
 'Min per Day English Grade 6',
 'Min per Day English Grade 8',
 'Min per Day social sciences Grade 3',
 'Min per Day social sciences Grade 6',
 'Min per Day social sciences Grade 8',
 'Avg Number of days of Physical Education Per Week Per Student',
 '% of Teachers - White',
 '% of Teachers - Male',
 '% of Teachers - Female',
 'Total Teacher FTE',
 'Avg Teaching Exp',
 'Bachelor Degree',
 'Masters Degree',
 'Pupil Teacher Ratio - Elementary',
 'Pupil Certified Staff Ratio',
 'Pupil Admin Ratio',
 'Teacher Avg Salary',
 'Admin Avg Salary',
 'Teacher Retention Rate',
 'Principal Turnover within 6 Years',
 'Teacher Attendace Rate',
 'Teacher Evaluation Rate',
 'Chronic Absenteeism',
 'Chronic Absenteeism - White',
 'Chronic Absenteeism - IEP',
 'Chronic Absenteeism - Low Income']

In [15]:
general_district_df.head()

,RCDTS,Type,District,City,County,District Type,District Size,Student Enrollment - Total,Student Enrollment - White %,Student Enrollment - IEP %,...,Teacher Avg Salary,Admin Avg Salary,Teacher Retention Rate,Principal Turnover within 6 Years,Teacher Attendace Rate,Teacher Evaluation Rate,Chronic Absenteeism,Chronic Absenteeism - White,Chronic Absenteeism - IEP,Chronic Absenteeism - Low Income
0,10010010260000,District,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,559.0,95.2,17.9,...,36085.63,72141.72,92.9,3.0,63.8,96.2,7.7,7.3,11.3,12.4
3,10010020260000,District,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,602.0,97.7,15.3,...,41534.22,83605.24,91.5,2.0,57.7,90.3,1.6,1.7,2.9,5.0
6,10010030260000,District,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,874.0,97.1,18.6,...,47686.51,75068.50,81.3,1.0,81.0,96.8,13.0,9.0,25.3,19.6
11,10010040260000,District,CUSD 4,Mendon,Adams,UNIT,MEDIUM,674.0,96.4,17.2,...,40254.81,83692.00,89.7,1.0,77.6,100.0,12.5,12.4,16.2,17.7
15,10011720220000,District,Quincy SD 172,Quincy,Adams,UNIT,LARGE,6469.0,78.6,18.7,...,45089.41,82764.57,73.6,2.0,78.7,99.6,19.0,18.7,25.5,26.6

In [20]:
district_filtered_df = general_district_df[["RCDTS", 
    "Type",  
    "District", 
    "City", 
    "County",
    "District Type", 
    "District Size", 
    "Student Enrollment - Total",
    "Student Enrollment - Low Income %",
    "Avg Class Size – All Grades",
    "Avg Teaching Exp",
    "Bachelor Degree",
    "Masters Degree",
    "Teacher Retention Rate",
    "Teacher Avg Salary",
    "Admin Avg Salary"]]
district_filtered_df.head(20)

,RCDTS,Type,District,City,County,District Type,District Size,Student Enrollment - Total,Student Enrollment - Low Income %,Avg Class Size – All Grades,Avg Teaching Exp,Bachelor Degree,Masters Degree,Teacher Retention Rate,Teacher Avg Salary,Admin Avg Salary
0,10010010260000,District,Payson CUSD 1,Payson,Adams,UNIT,MEDIUM,559.0,48.8,17.0,11.5,56.3,43.8,92.9,36085.63,72141.72
3,10010020260000,District,Liberty CUSD 2,Liberty,Adams,UNIT,MEDIUM,602.0,24.9,20.0,13.5,41.9,58.1,91.5,41534.22,83605.24
6,10010030260000,District,Central CUSD 3,Camp Point,Adams,UNIT,MEDIUM,874.0,46.7,19.0,12.5,42.9,57.1,81.3,47686.51,75068.50
11,10010040260000,District,CUSD 4,Mendon,Adams,UNIT,MEDIUM,674.0,20.2,18.0,14.1,61.3,38.7,89.7,40254.81,83692.00
15,10011720220000,District,Quincy SD 172,Quincy,Adams,UNIT,LARGE,6469.0,60.7,18.0,12.0,56.9,42.6,73.6,45089.41,82764.57
26,10050010260000,District,Brown County CUSD 1,Mount Sterling,Brown,UNIT,MEDIUM,734.0,84.5,16.0,12.0,69.7,30.3,73.8,41230.67,85725.00
30,10090150260000,District,Beardstown CUSD 15,Beardstown,Cass,UNIT,MEDIUM,1582.0,70.7,16.0,11.6,63.0,36.0,75.5,43408.09,81832.66
34,10090640260000,District,Virginia CUSD 64,Virginia,Cass,UNIT,SMALL,301.0,53.5,14.0,11.2,57.2,42.8,72.4,45024.46,93545.00
37,10092620260000,District,A-C Central CUSD 262,Ashland,Cass,UNIT,SMALL,440.0,49.8,14.0,12.2,88.4,11.6,75.3,37318.09,92281.53
41,10690010260000,District,Franklin CUSD 1,Franklin,Morgan,UNIT,SMALL,305.0,30.5,16.0,15.3,62.2,37.8,90.9,41429.91,88952.22
45,10690060260000,District,Waverly CUSD 6,Waverly,Morgan,UNIT,SMALL,375.0,34.1,15.0,13.5,78.7,21.3,77.4,42622.41,85320.23
48,10690110260000,District,Meredosia-Chambersburg CUSD 11,Meredosia,Morgan,UNIT,SMALL,201.0,65.2,10.0,13.8,71.1,24.4,71.7,40834.29,89731.31
52,10690270260000,District,Triopia CUSD 27,Concord,Morgan,UNIT,SMALL,383.0,35.0,16.0,14.5,73.0,27.0,87.1,39891.90,81241.53
55,10691170220000,District,Jacksonville SD 117,Jacksonville,Morgan,UNIT,LARGE,3372.0,55.0,19.0,12.6,67.2,31.4,83.0,45656.01,88654.71
66,10750030260000,District,Pleasant Hill CUSD 3,Pleasant Hill,Pike,UNIT,SMALL,315.0,52.1,15.0,12.5,65.3,34.7,86.5,41951.27,83314.43
69,10750040260000,District,Griggsville-Perry CUSD 4,Griggsville,Pike,UNIT,SMALL,382.0,58.1,12.0,13.8,70.5,29.5,71.3,39176.46,78716.67
73,10750100260000,District,Pikeland CUSD 10,Pittsfield,Pike,UNIT,MEDIUM,1265.0,47.8,21.0,13.4,67.0,31.8,85.3,40363.74,73596.00
77,10750120260000,District,Western CUSD 12,Barry,Pike,UNIT,MEDIUM,573.0,59.7,19.0,12.8,53.6,46.4,76.4,42303.36,78043.40
81,10860010260000,District,Winchester CUSD 1,Winchester,Scott,UNIT,MEDIUM,614.0,47.2,15.0,13.2,72.5,25.5,82.7,40610.16,71511.91
84,10860020260000,District,Scott-Morgan CUSD 2,Bluffs,Scott,UNIT,SMALL,226.0,50.9,15.0,13.0,58.8,41.2,79.3,38743.44,95103.29

In [21]:
district_filtered_df.count()

RCDTS                                865
Type                                 865
District                             865
City                                 859
County                               859
District Type                        858
District Size                        858
Student Enrollment - Total           865
Student Enrollment - Low Income %    858
Avg Class Size – All Grades          860
Avg Teaching Exp                     862
Bachelor Degree                      862
Masters Degree                       862
Teacher Retention Rate               860
Teacher Avg Salary                   861
Admin Avg Salary                     861
dtype: int64